$background-grey-1: #dedede !default;
$grey-1: #c1c1c1 !default;

.sidebar_container {
  background-color: $background-grey-1;
  // height: 29.7cm;
  padding: 0 !important;
    h3 {
      background: $grey-1;
    }
}
