$background-white: #ffffff !default;
$grey-1: #c1c1c1 !default;

.cv_container {
  width: 21cm;
  // height: 29.7cm;
  margin: 25px auto;
  background-color: $background-white;
  border-radius: 2px;
  padding: 0 10px;
  text-align: justify;
  text-justify: inter-word;
  h5 {
    margin-bottom: 0;
  }

  .download {
    position: fixed;
    bottom: 20px;
    right: 50px;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    font-size: 25px;
    background: rgb(55, 55, 55);
    line-height: 0;
  }
}

.section-border {
  border-width: 1px 0;
  border-style: solid;
  border-color: $grey-1;
  width: 100%;
  padding-top: 2px;
}

.company_name {
  font-style: italic;
  text-align: right;
}

.achieve_resp {
  margin: 10px 0;
  font-weight: 500;
}

@media (min-width: 768px) {
  .achieve_resp {
    margin: 10px 0;
    font-weight: 500;
  }

  .pr-15 {
    padding-right: 15px;
  }
}

.job_role {
  font-size: 9pt;
}

.exportButton {
  float: right;
  margin-left: 5px;
}

.button_container {
  width: 80%;
  margin: 25px auto;
  height: 38px;
  padding: 0 !important;
}
