// Override default variables before the import
$background: #f5f5f5 !default;

body {
  background: $background !important;
}

.main_container {
  height: 105vh;
  font-size: 10pt;
  margin: 0 auto;
  width: 100%;
}

p {
  font-size: 0.9em;
  font-weight: 300;
  padding: 0 10px;
  text-align: left;
}

h3 {
  font-family: Nunito;
  font-size: 1.1em !important;
  font-weight: 600 !important;
  font-variant-caps: small-caps;
  line-height: 1.7 !important;
  padding: 0 10px;
}

h4 {
  font-family: Nunito;
  font-size: 1em !important;
  font-weight: 600 !important;
  padding: 0 10px;
}

h5 {
  font-family: Nunito;
  color: rgb(7, 55, 99);
  font-style: italic;
  font-size: 0.9em !important;
  font-weight: 600 !important;
  padding: 0 10px;
  text-align: left;
}

.bold {
  font-weight: 600 !important;
}

// Box shadow options
.bs-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.bs-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

// Padding options
.pd-5 {
  padding: 0 7px;
}
.pd-15 {
  padding: 0 15px;
}
.pd-20 {
  padding: 0 20px;
}
.pt-15 {
  padding-top: 15px;
}
.pt-20 {
  padding-top: 20px;
}

.mw-50 {
  max-width: 50%;
}

.mb-0 {
  margin-bottom: 0;
}
.ml-10 {
  margin-left: 10px;
}

.bb {
  border-bottom: 1px rgb(48, 48, 48) solid;
  margin-bottom: 15px;
}

.bt {
  border-top: 1px rgb(48, 48, 48) solid;
  padding-top: 15px;
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}


// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';